$color1:#000000;
$color2:#ffffff;
$color3:#666666;
$color4:#10385B;
$color5:#0d64c1;
$color6:#0060E4;
$color7:#071D31;
$color8:#03549F;
$color9:#04BBF2;
$color10:#E9E9E9;
$color11:#1D7AD0;
$color11:#150D2B;
$color12:#f7f5f5;