.bx-header{
   
  
    padding-left: $spacer1;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
   
}
.bx-header-left{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 16px;
  

    p{
        margin-left: 10px;
        margin-top: 10px;
        color: #666666;
    }

}
.bx-header-social{
    margin-top: 10px;
    a{
        text-decoration: none;
        margin-left: 3px;
        

    }
    svg{
        margin-left: 5px;
        width: 15.2px;
        height: 12.39;
      
    }
}
.bx-header-right{
    width: 50%;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: $spacer2;
    align-items: end;
    justify-content: end;
    text-align: center;
}
.bx-header-list{
    display: flex;
    flex-direction: row;
    li{
        margin-left: 30px;
        margin-top: 10px;
        font-size: 14px;
        color: #666666;
        
        
    }
  
}
 
.bx-header--a{
    width: 140px;
    height: 25.72px;
    background-color: #10385B;
    margin-left: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.bx-header__hamberger_menu{
    display: none;
}
.bx-header__hamberger_menu img{
    width: 20px;
    height: 20px;
}
@include mobile{

    .bx-header{
        width: 100%;
    }
    .bx-header__hamberger_menu{
        display: block;
    }
    .bx-header-list{
        display: none;
    }
    .bx-header--a{
        display: none;
    }
}

@include tablet{
    .bx-header{
        width: 100%;
    }
    .bx-header__hamberger_menu{
        display: block;
    }
    .bx-header-list{
        display: none;
    }
    .bx-header--a{
        display: none;
    }
}